
<%= form_for(@sighting)
<h1> Hello </h1>
<!-- comments --> 
<form action = <%redirect_to '/submit' %> >
  User Name:<br>
  <input type="text" name="username" ><br>
  Location of Sighting:<br>
  <input type="text" name="location" ><br><br>
  <input type="submit" value="Submit">
</form> 