<div class="header">
  <div class="container">
    <h1>Log in Page</h1>
  </div>
</div>

<% @users.each { |u| %>
    <h3> User: <%= link_to u.name, user_path(u) %> </h3>
    <p> Email: <%= u.email %></p>
    <p> <%= u.created_at %></p>
    <% } %>
    <%= link_to 'Submit a Sighting', "sightings/new" %>