<h1> Northern Mockingbird</h1>
<h2><em> Mimus polyglottos </em>  </h2>

<body> 
    <h3>Description</h3>
    <p>
    The Northern Mockingbird is a widespread North American songbird species. Adult birds are grey 
    and black with white markings, including white wing bars. <em>M. polyglottos</em> is an omnivore, primarily feeding on insects and berries.
    The most distinguishing and notable feature of the Northern Mockingbird is its ability to mimic noises and other bird songs. Northern Mockingbirds
    are territorial and mate during the spring. 
    <br>
    <img src = " https://upload.wikimedia.org/wikipedia/commons/6/67/Mockingbird,_Northern_SunsetBeach.jpg" style = "width:150px;height:128px;">
    </p>
    <h4>Distribution</h4>
    <figure>
    <img src = "http://www.audubon.org/sites/default/files/Northern-Mockingbird_map.jpg" style = "width:150px;height:128px;">
    <br>
    <figcapture style="font-size:60%;"><em>Illustration © David Allen Sibley</em></figcapture>
</figure>
    <p><%= link_to 'Log in', "users"%> or <%= link_to 'Create an Account', "users/new " %> to report a sighting.</p>

</body>



