css

// Place all the styles related to the Sightings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*Styles for table*/
h1{
    font-size:20px;
    font-weight: bold;
    font-family: helvetica;
}

table{
    font-size: 12px;
    font-family: helvetica;
    color: black;
}

.wrapper {
  width: 100%;
}

.datatable {
  width: 50%;
  border: 2px solid black;
  border-collapse: collapse;
}

.datatable td {
  border: 2px solid black;
  padding: 0.2em;
}

.datatable th {
  border: 2px solid black;
  background-color: #b4c5bb;
  font-weight: bold;
  text-align: center;
  
}

.datatable caption {
    font-family: helvetica;
    font-weight: bold;
    color: black;
    text-align: center;
}

.datatable tr:nth-child(odd) {
  background-color: #dbf2e4;
  color: #000000;
}


/*Styles for form*/
.form{
  padding: 10px;
  top: 20px;
  height: 700px;
  position: relative;
}

.new_sighting{
  width: 100%;
  height: 100%;
  z-index: 10000;
  position:relative;
}

.fields-container{
  display:table;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.location{
  position: relative;
  height: auto;
  width: 100%;
}


.checkbox,.field,.location,.actions{
  position: relative;
  display: block;
  width: 80%;
  max-width: 700px;
  padding: 10px;
  margin: 0 auto;
}

.checkbox{
  display: table;
}

.checkbox-choice{
  display:block;
}

.field-choice{
  display: table;
  padding-bottom: 20px;
  label, textarea{
    display:block;
  }
}



/*Styles for map*/

.map-container{
  height: 500px;
  display:table;
  position: relative;
  width: 700px;
  max-width: 700px;
  margin: 20px 20px 0px 0px;
}

#map { 
  position:relative;
  bottom:0;
  width:inherit;
  height:100%;
  display: table-cell;
  float:right;
  
  .mapboxgl-ctrl-bottom-right{
    display: none;
  }
}

#sighting_location{
  line-height: 20px;
  max-width: calc(30em * 0.5);
  display:none;
}

.side-panel{
  display: table;
  height: auto;
  width: auto;
  float: left;
  /*background-color: blue;*/
  position: absolute;
  top: 20px;
  left: 20px;
}



#geocoder-container {
    .mapboxgl-ctrl-geocoder{
      padding: 0px;
      margin: 0 auto;
      font-size: 20px;
      border-radius: 8px;
    
    }
    .input{
      width: 100%;
      padding: 0px;
    }
}

.location-div{
  display: block;
  position: absolute;
  height: 50px ;
  bottom: 20px;
  left: 20px;
  font: 15px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: rgba(black, 0.3);
  width: 33.3333%;
  min-width: 240px;
  max-width: 360px;
  z-index: 1;
  border-radius: 8px;
  transition: all 10s ease;

}


.coordinates {
    position: relative;
    padding: 5px 0px 5px 40px;
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    display:block;
    height: inherit;
    transition: 3s ease;
    text-align: left;
    color: white;
    font-family: Helvetica;
}



.geocoder-icon.geocoder-icon-close.active{
  display:none;
}


.location-div{
  display: block;
}
