<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
   <script src="http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.js"></script>
   <link href="http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css" rel="stylesheet" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
